<!DOCTYPE HTML>
<html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- jQuery -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/sockjs.min.js"></script>
 <script src="static/js/stomp.min.js"></script>
 
<!----webfonts--->
<link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

<script th:src="${notificationUrl}"></script>
 <!-- <script src="static/js/wisdom/notification-box.js"></script> -->
</head>
<input  type="hidden" name="notificationHost" id="notificationHost" th:value="${notificationHost}"/>
<input type="hidden" id="srcAppCode" th:value="${srcAppCode}" />


<body onload="disconnect()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div>
    <div>
        <labal>用户</labal>
        <input type="text" id="user" th:value="${username}" />
        
        <button id="connect" onclick="connect();">Connect</button>
        
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    
    <div id="conversationDiv">
        <labal>名字</labal>
        <input type="text" id="name" />
        
        <button id="sendName" onclick="sendName();">Send</button>
        
        <p id="response"></p>
    </div>
</div>


  
</body>
</html>
