*.class
# Package Files #
*.log
.idea
*.iml
*.jar
*.war
*.ear
*.zip
*.tar.gz
.project
.settings
.classpath
target
/.project
.DS_Store
workspace.xml
.springBeans

sh.exe.stackdump
/bin/
/.metadata/
*.iml
