<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.notification.dao.NotificationLogMapper" >
  <resultMap id="BaseResultMap" type="com.notification.model.NotificationLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="src_app_code" property="srcAppCode" jdbcType="VARCHAR" />
    <result column="target_user_name" property="targetUserName" jdbcType="VARCHAR" />
    <result column="msg_title" property="msgTitle" jdbcType="VARCHAR" />
    <result column="msg_desc" property="msgDesc" jdbcType="VARCHAR" />
    <result column="msg_link" property="msgLink" jdbcType="VARCHAR" />
    <result column="msg_type" property="msgType" jdbcType="VARCHAR" />
    <result column="sstatus" property="sstatus" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, src_app_code, target_user_name, msg_title, msg_desc, msg_link, msg_type, status, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wisdom_notification_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wisdom_notification_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.notification.model.NotificationLog" >
    insert into wisdom_notification_log (id, src_app_code, target_user_name, 
      msg_title, msg_desc, msg_link, 
      msg_type, status, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{srcAppCode,jdbcType=VARCHAR}, #{targetUserName,jdbcType=VARCHAR}, 
      #{msgTitle,jdbcType=VARCHAR}, #{msgDesc,jdbcType=VARCHAR}, #{msgLink,jdbcType=VARCHAR}, 
      #{msgType,jdbcType=VARCHAR}, #{status,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.notification.model.NotificationLog" keyProperty="id" useGeneratedKeys="true">
    insert into wisdom_notification_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="srcAppCode != null" >
        src_app_code,
      </if>
      <if test="targetUserName != null" >
        target_user_name,
      </if>
      <if test="msgTitle != null" >
        msg_title,
      </if>
      <if test="msgDesc != null" >
        msg_desc,
      </if>
      <if test="msgLink != null" >
        msg_link,
      </if>
      <if test="msgType != null" >
        msg_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="srcAppCode != null" >
        #{srcAppCode,jdbcType=VARCHAR},
      </if>
      <if test="targetUserName != null" >
        #{targetUserName,jdbcType=VARCHAR},
      </if>
      <if test="msgTitle != null" >
        #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgDesc != null" >
        #{msgDesc,jdbcType=VARCHAR},
      </if>
      <if test="msgLink != null" >
        #{msgLink,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null" >
        #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.notification.model.NotificationLog" >
    update wisdom_notification_log
    <set >
      <if test="srcAppCode != null" >
        src_app_code = #{srcAppCode,jdbcType=VARCHAR},
      </if>
      <if test="targetUserName != null" >
        target_user_name = #{targetUserName,jdbcType=VARCHAR},
      </if>
      <if test="msgTitle != null" >
        msg_title = #{msgTitle,jdbcType=VARCHAR},
      </if>
      <if test="msgDesc != null" >
        msg_desc = #{msgDesc,jdbcType=VARCHAR},
      </if>
      <if test="msgLink != null" >
        msg_link = #{msgLink,jdbcType=VARCHAR},
      </if>
      <if test="msgType != null" >
        msg_type = #{msgType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.notification.model.NotificationLog" >
    update wisdom_notification_log
    set src_app_code = #{srcAppCode,jdbcType=VARCHAR},
      target_user_name = #{targetUserName,jdbcType=VARCHAR},
      msg_title = #{msgTitle,jdbcType=VARCHAR},
      msg_desc = #{msgDesc,jdbcType=VARCHAR},
      msg_link = #{msgLink,jdbcType=VARCHAR},
      msg_type = #{msgType,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="selectMessages" resultMap="BaseResultMap"  >
    select 
    		<include refid="Base_Column_List" />
    from wisdom_notification_log
    where 
    		src_app_code = #{srcAppCode,jdbcType=VARCHAR}
    		and target_user_name = #{userName,jdbcType=VARCHAR}
    	order by id desc
    	limit 10
    		
  </select>
  
  
  <update id="updateStatusByPrimaryKey" >
    update wisdom_notification_log
    set 
      status = #{status,jdbcType=SMALLINT}
    where id = #{msgId,jdbcType=BIGINT}
  </update>
</mapper>